*{margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing: border-box;}
body{height: 100%;position: absolute;width: 100%;font-family:微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;color:#000;font-size: 12px;background-color: #F5F5F5;}
ul{list-style: none;}
a{text-decoration: none;}
.link{cursor: pointer;}
.ov{overflow: hidden;}
.fl{float: left;}
.fr{float: right;}
.hide{ display: none; }
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.ml10{margin-left: 10px;}
.pd0_5{padding: 0 5px;}
.w_100{width: 100%;}
.h_100{height: 100%;}
.h25{height: 25px;}
.h30{height: 30px;}
.h50{height: 50px;}
.h70{height: 70px;}
.lh25{line-height: 25px;}
.bg_f{background-color: #fff;}
.bg_f5{background-color: #f5f5f5;}
.bg_black{background-color: #4A5B79;}
.cr_f{color: #fff;}
.tc{text-align: center!important;}
.va_m{vertical-align: middle;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
/*header*/
.header{height: 68px;}
.nav{height: 60px;margin: 4px 0;position: relative;}
.nav>li{float: left;padding: 5px 10px;margin-right: 10px;border-radius: 5px;}
.nav>li:hover{background: rgba(0, 0, 0, 0.25);}
.nav a{color: #fff;display: block;}
.nav a>img{display: block;margin: 0 auto 4px;}
.navPopup{position: absolute;padding: 5px;top: 70px;z-index: 100;color: #fff;border-radius: 5px;box-shadow: 0 3px 15px rgba(0,0,0,.6);display: none;}
.navPopup i{display: block;width: 0;height: 0;border-width: 0 10px 10px;border-style: solid;border-color: transparent transparent #4A5B79;position: absolute;top: -10px;left: 50%;margin-left: -10px;}
.navPopup li{line-height: 25px;padding:0 20px 0 5px;cursor: pointer;}
.navPopup li:hover{background-color: #fff;color: #000;}
.navPopup img{vertical-align: middle;margin-right: 5px;}
/*tab导航*/
.tabHeader{height: 37px;border: 1px solid #ccc;border-width: 0 1px 1px 0;}
.tabHeader .left{width: 205px;height: 100%;line-height: 37px;border-right: 1px solid #ccc;}
.tabNav li{height: 100%; float: left;padding: 0 22px 0 10px;margin-left: 5px;border: 1px solid #dcdcdc;border-bottom: none;border-radius: 5px 5px 0 0;line-height: 30px;cursor: pointer;background: url(../img/bg_repeat.png) repeat-x 0 0;position: relative;}
.tabNav li:first-child{padding: 0 10px;}
.tabNav li.on{background: #fff;}
.tabNav li img{vertical-align: sub;}
.tabNav li span{position: absolute; width: 12px;height: 12px;background: url(../img/tab_delete_ico.png)no-repeat;background-position: 3px -11px;right: 7px;top: 10px;z-index: 1;}
.tabNav li span:hover{background-position: 3px 1px;}
.clickRight{position: fixed;z-index: 50;box-shadow: 0 0 8px #ccc;border-radius: 5px;border: 1px solid #ccc;padding: 4px 4px 4px 25px;display: none;}
.clickRight:before{content: '';position: absolute;width: 0;height: 100%;border-left: 1px solid #ccc;left: 25px;top: 0;}
.clickRight li{line-height: 25px;padding:0 25px 0 10px;cursor: pointer;}
.clickRight li:last-child{border-top: 1px solid #ccc;}
.clickRight li:hover{background-color: #4A5B79;color: #fff;}
/*footer*/
.footer{position: absolute;bottom: 0;display: flex;}
.footer>div{flex: 3;}
.footer>div:nth-child(2){flex: 4;}
.footer .right a{float: right;padding: 0 8px;}
.footer .right a:hover{opacity: .6;}
/*主体内容*/
.content{position: absolute;top: 105px;left: 0;right: 0;bottom: 25px;width: 100%;display: flex;}
.leftNav{width: 205px;height: 100%;border-right: 1px solid #ccc;overflow: auto;}
.leftNav_1>li>.link,.leftNav_2 .link{height: 37px;line-height: 36px; border-bottom: 1px solid #ccc;overflow: hidden;}
.leftNav_1>li>.link img,.leftNav_2 .link img{float: left;margin: 10px 10px 0 15px;}
.leftNav_1>li>.link i{float: right;width: 16px;height: 16px;margin:10px 10px 0 0;background: url(../img/layout_arrows.png)no-repeat;background-position: -16px 0;}
.leftNav_2{height: 0;overflow:auto;}
.leftNav_2 li .link{padding-left:15px;}
.leftNav_2 li:hover,.leftNav_2 li.on{background-color: #4A5B79;color: #fff;}
.leftNav_1>li.open>.link i{background-position: -16px -16px;}
.leftNav_1>li.open .leftNav_2{border-bottom: 1px solid #ccc;overflow: auto;}
.rightIframe{flex: 1;height: 100%;padding: 1px 0 3px;}
.rightIframeCon{width: 100%;height: 100%;position: relative;}
.iframe{width: 100%;height: 100%; border: 1px solid #ccc;border-left: none;position: absolute;z-index:-1;}
.iframe.on{z-index: 10;}
/*iframe头部，底部*/
h4{background: url(../img/bg_repeat.png) repeat-x 0 0;height: 28px;border-bottom: 1px solid #ccc;line-height: 27px;padding: 0 5px!important;}
.toolsBar{height: 46px;border-bottom: 1px solid #ccc;padding-left: 4px;}
.toolsBar li{float: left;margin: 2px 10px 2px 0;padding: 2px 10px;/*border: 1px solid #f5f5f5;*/border-radius: 5px;cursor: pointer;position: relative;}
.toolsBar li.fgf:before{content: '';position: absolute;height: 35px;width: 0;border-left: 1px solid #ccc;border-right: 1px solid #fff;left: -6px;}
.toolsBar li img{display: block;margin: 2px auto 1px;}
.toolsBar li:hover{background-color: #fff;border-color: #ccc;}
/*iframe table*/
.tableCon{width: 100%;overflow: auto;background-color: #fff;border-bottom: 1px solid #ccc;position: relative;}
.tableCon>.xian{position: absolute; width: 2px;height: 100%;background-color: #4A5B79;top: 0;left: 0;display: none;z-index: 1;}
::-webkit-scrollbar{width: 10px;height: 10px;}
::-webkit-scrollbar-thumb {background-color: rgba(0,0,0,0.2);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar-track {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}
.table,.homeTable{border-spacing: 0;table-layout: fixed;}
.table th,.homeTable th{background: url(../img/bg_repeat.png) repeat-x 0 0;position: relative;-moz-user-select: none;}
.table th .stretch{position: absolute;width: 4px;height: 100%;top: 0;right: 0;cursor: col-resize;}
.table td,.table th,.homeTable td,.homeTable th{padding: 5px;border: 1px solid #ccc;border-width: 0 1px 1px 0;text-align: left;font-weight: initial;background-color: #FFF;white-space: nowrap;overflow: hidden;}
.layerTable .table td{padding:0px !important;}
.table tr td:first-child{background-color: #F5F5F5;text-align: center;}
.table tr:not(:first-child):hover td{background-color: #F5F5F5;}
.table td.on{background-color: #4A5B79!important;color: #fff!important;}
.table .imgCon { min-height: 30px;  max-height: 70px; }
.table .imgCon .img{  width: 130px;  height: 70px;  margin:0 auto;}

/* 详情 xqTable */
.table.xqTable td:first-child{ background: none;}
.table.xqTable td{ white-space: inherit;}
/*iframe 页码*/
.pageCon{width: 100%;height: 26px;line-height: 26px;}
.pageCon .btn{display: block; width: 24px; height: 22px;border: 1px solid #F5F5F5;border-radius: 3px;cursor: pointer;margin: 2px 0 0 4px;}
.pageCon .btn i{display: block;width: 16px;height: 16px;margin: 2px 3px; background: url(../img/pagination_icons.png)no-repeat;}
.pageCon .btn.no{opacity: .4;cursor: default;border-color: #F5F5F5!important;}
.pageCon .btn:hover{border-color: #ccc;}
.pageCon .pgL i{background-position-x: -16px;}
.pageCon .input{flex: initial;height: 22px;border: 1px solid #ccc;border-width: 0 1px;margin: 2px 6px 0 10px;padding: 0 10px;line-height: 20px;}
.pageCon .input input{width: 40px;height: 20px; margin: 0 5px;text-align: center;border-radius: 3px;border: 1px solid #aaa;}
.pageCon .pgR i{background-position-x: -32px;}
.pageCon .pgRAll i{background-position-x: -48px;}
.pageCon .select{width: 55px;margin-left: 4px;}
.pageCon p{flex: initial;margin-left: 4px;}

/*layer*/
body .new-layer.layui-layer{border: 5px solid #4A5B79;}
body .new-layer .layui-layer-title{height: 25px;line-height: 20px;background-color: #4A5B79;border-radius: 0;color: #fff;padding-left: 2px;}
body .new-layer .layui-layer-setwin{right: 0;top: 0;}
body .new-layer .layui-layer-close{background: none;width: 20px;height: 20px;border-radius: 1px;}
body .new-layer .layui-layer-close:before{content: '×';position: absolute;width: 20px;height: 20px;font-size: 25px;line-height: 18px;color: #fff;text-align: center;left: 0;top: 0;}
body .new-layer .layui-layer-setwin .layui-layer-close1:hover {opacity: 1;background-color: #e74d3c;}
body .new-layer .layui-layer-btn{padding: 5px 0;background-color: #F1F1F1;border-top: 1px solid #bbb;}
body .new-layer .layui-layer-btn .layui-layer-btn0{border-color: #999;background-color: #f1f1f1;color: #000;}
body .new-layer .layui-layer-btn a{line-height: 26px;margin: 0 8px 0 0;border-color: #999;background-color: #f1f1f1;color: #000;border-radius: 5px;}
body .new-layer .layui-layer-btn a:hover,.layerBtns .btn:hover{opacity: 1;box-shadow: 0 0 8px #a6a6a6;}
body .new-layer.layui-layer-dialog .layui-layer-content{padding: 10px;}
.layerCon{padding-bottom: 40px;}
.layerTable{width: 100%;border: 1px solid #ccc;border-spacing: 0;table-layout: fixed;}
.layerTable tr:not(:last-of-type) td{border-bottom: 1px solid #ccc;}
.layerTable tr td{position: relative;border-bottom: 1px solid #ccc;border-right:1px solid #ccc ;text-align: left ;}
.layerTable tr td:nth-of-type(2n+1){width: 90px;text-align: right;border-right: 1px solid #ccc;background-color: #f7f7f7;padding: 0 5px;}
.layerTable tr td:nth-of-type(2n){padding: 0 1px 0 3px;border-right: 1px solid #ccc;}
.layerTable tr td:last-of-type{border-right: none;}
.layerTable input:not(.va_m),.layerTable select{width: 100%;height: 100%; border: none;outline:none;}
.layerTable table input:not(.va_m),.layerTable table select{text-align: center;}
.layerTable table td.on input:not(.va_m){background: #4A5B79!important;color: white}
.layerTable input{width: 100%; border: none;font-size: 12px;}
.layerTable input[type=radio]{width:auto;}
input[type=checkbox]{width: auto;}
.layerTable textarea{width: 100%;height: 100%;padding: 3px 0; resize: none;line-height: 16px;border: none;outline:none;}
.layerTable label:not(:last-of-type){margin-right: 10px;}
.layerTable input.must{background: url(../img/error-bg.png)no-repeat right -2px;padding-right: 20px;}
.layerTable .imgCon{padding: 10px 0 0 10px!important;}
.layerTable .img{float: left; width: 110px;height: 110px;position: relative;margin:0 10px 10px 0;}
.layerTable .img p{position: absolute;width: 100%;height: 20px;left: 0;bottom: 0;background-color: rgba(0,0,0,.5);display: flex;}
.layerTable .img p span{flex: 1;color: #fff;text-align: center;line-height: 20px;cursor: pointer;}
.layerTable .img p span:not(:last-of-type){border-right: 1px solid #fff;}
.layerTable .img p span:hover{color: #e74d3c;background-color: rgba(255,255,255,.8);}
.layerTable .img a{display: block; width: 100%;height: 100%;line-height: 99px;border: 1px solid #999;text-align: center;border-radius: 5px;cursor: pointer;font-size: 70px;color: #666;}
.layerTable .img a:hover{box-shadow: 0 0 8px #a6a6a6;}
.layerBtns{padding: 5px 0;background-color: #F1F1F1;border-top: 1px solid #bbb;text-align: center;pointer-events: auto;user-select: none;-webkit-user-select: none;position: fixed;width: 100%;left: 0;bottom: 0;}
.layerBtns .btn{display: inline-block; line-height: 26px;margin: 0 8px 0 0;background-color: #f1f1f1;color: #000;border-radius: 5px;vertical-align: top;height: 28px; padding: 0 15px;border: 1px solid #999;font-weight: 400;cursor: pointer;text-decoration: none;}
.layerTable select{height: 18px; border: none;font-size: 12px;}
/*home*/
.homeIframe{border: none;margin-top: -1px;}
.home>.item{width: 49.8%;height: 379px; border: 1px solid #ccc;margin: .4% .4% 0 0;float: left;}
.home>.item:nth-of-type(2n){margin-right: 0;}
.home>.item:nth-of-type(2n+1){border-left: none;}
.homeTit{height: 35px;border-bottom: 1px solid #ccc;line-height: 34px;padding-left: 5px;position: relative;}
.homeTit img{margin:7px 5px 0 0;width: 20px;height: 20px;float: left;}
.homeTab{position: absolute;height: 30px;right: 0;bottom: -1px;z-index: 1;}
.homeTab li{float: left;line-height: 28px;border: 1px solid #ccc; padding: 0 10px;margin-right: 5px;border-radius: 5px 5px 0 0;cursor: pointer;}
.homeTab li.on{border-bottom-color: #fff;background-color: #fff;}
.homeCon{padding: 7px;}
.homeTable{border: 1px solid #ccc;border-width: 1px 0 0 1px;}
.homeCon table{display: none;}
.homeCon table.on{display: table;}

/*login*/
.logo{margin: 8% auto 0;width: 983px;height: 100px;}
.login .con{margin: 0 auto 30px;width: 983px;height: 332px;background: url(../img/loginbj.png) center no-repeat;box-shadow: 0 10px 20px rgba(0,0,0,.6);border-radius: 5px;position: relative;}
.login .foot{position: absolute;bottom: 0;text-align: center;left: 0;width: 100%;line-height: 25px;color: #fff;}
.login .input{position: absolute;top: 108px;right: 57px;}
.login .input .item{height: 50px;line-height: 50px;font-size: 16px;color: #999;margin-bottom: 20px;}
.login .input input{width: 255px;height: 50px;padding: 9px 0; line-height: 32px;border: none;outline: none;margin-left: 10px;float: right;background: none;font-size: 14px;color: #666;}
.login .input .loginbtn{position: absolute;width: 100px;height: 40px;bottom: -48px;right: -45px;cursor: pointer;}

/* button */
button:hover{ cursor: pointer;}
/* tabs item */
.tabs>.item{
    width: 99.8%;
    height: 100%;
}
.TabsTit {
    width: 100%;
    overflow-x: scroll;
}
.tabs .homeCon .tabPage{ display: none; }
.tabs .homeCon .tabPage table{ display: table;}
.tabs .homeCon .tabPage.on{ display: block; }

/*form management*/
#example-advanced th{position: initial;}
#example-advanced tr td:first-child{text-align: left;}
#example-advanced.treetable tbody tr td{padding: 5px;}
/*treetable.css*/
table.treetable span.indenter {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    /* Disable text selection of nodes (for better D&D UX) */
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    /* Force content-box box model for indenter (Bootstrap compatibility) */
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 19px;
}
table.treetable span.indenter a {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
    width: 19px;
}


/* 摸底table */
.modiTable{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #999;
}
.modiTable tr td{
    border: 1px solid #999;
    padding-left: 5px;
    padding-right:5px;
    line-height: 1.42857143;
    vertical-align: middle ;
    white-space: nowrap;
}
.modiTable tr td input,.modiTable tr td select{
    border: none;
}
.modiTable tr td:first-child{
    font-size:14px;
}
.modiTable tr:nth-child(2n) td {
    padding-left:5px;
}

.modiTable tr td{
    background-color: #eee;
    padding:0;
}
.modiTable tr td input{
    width: 100%;
    height:30px;
    line-height:30px;
}
select{
    display: block;
    width: 100%;
    height: 34px;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* 顶部 input集合 查询 */
.tabs .homeCon .tabPage .topInputs input{
    width: inherit;
}
.topInputs{
    position: relative;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding: 8px;
}
.form-inline .form-group{
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    padding:5px;
}
.form-inline .form-group label{
    display: inline-block;
    max-width:100%;
    margin-bottom:5px;
    font-weight:700;
}.form-inline .form-control{
     display: inline-block;
     width: auto;
     vertical-align: middle;
 }
.form-inline .form-group select{
    height: 30px;
    min-width: 169px;
}
.form-inline .form-group .btn {
    padding: 4px 15px;
    border: 1px solid #999;
    background-color: #f2f2f2;
    color: #333;
}
.tabs .img_show{
    position: relative;
    width: 180px;
    height:180px;
    float: left;
    margin-right:8px;
    margin-top:10px;
}
.tabs .img_show img{
    width:100%;
    height:100%;
}
.tabs .img_show span{
    position: absolute;
    display: block;
    height:25px;
    width: 100%;
    bottom: 0;
    left:0;
    color: #fff;
    font-size:12px;
    line-height:25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgba(0,0,0,.2);

}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/* 图标上传 */
.upIcon{
    position: relative;
    width: 100%;
    min-height:50px;
    max-height:70px;
    padding:10px;
    overflow: hidden;
    float: left;
}
.upIcon .iconShow {
    width: 50px;
    height:50px;
    max-width: 50px;
    float: left;
}
.upIcon .iconShow img{
    width: 100%;
    height:100%;
}
.upIcon  input[type='file']{
    display: block;
    width: 75px;
    height:70px;
    padding:5px;
    line-height:40px;
    float: left;
}

/*  按钮样式重新 bootstrap样式 */
.btn{
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #999;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}
.btn-link {
    color: #337ab7;
    font-weight: normal;
    border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none;
}
/*  时间控件 */
.datepicker{
    position: absolute;
    background: white;
    z-index: 999;
    width: 230px;
}

/*  分页条 */
.pageCon{margin: 0 auto;overflow: hidden;height: 26px;}
.pageCon li>a,li>span{margin: 0 1px;display: inline-block;padding: 0 8px;height: 26px;text-align: center;line-height:26px; border-left: 1px solid #ddd;border-right: 1px solid #ddd;float: left;position: relative;}
.pageCon li{color: #4A5B79;}
.pageCon ul li span:hover{background-color: red !important;}
.pageCon ul li a:hover{background-color: #2D93CA !important;}
.pageCon ul li.active span{background-color: #6B7C93 !important;}

.nowrap{white-space: normal !important;}